
*, *::before, *::after {
    box-sizing: border-box;
  }
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
}
.displayer
{
    position:relative;
    z-index: 3;
    width:75vw;
    height:80vh;
    overflow:scroll;
}
#aaa, #ccc, #ddd
{
    box-sizing: border-box;
    width: 20vw;
    display: inline-block;
    height: 3rem;
}
#toolbar_tools button
{
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 2px;
    line-height: 5%;
    
}
#object_info
{
    display: inline-block;
    position:fixed;
    width: 19vw;
    top: 2vh;
    left: 80vw;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 15vh;
    overflow-y: scroll;
    padding: 1rem;
}
#object_tree
{
    display: inline-block;
    position:fixed;
    width: 19vw;
    top: 19vh;
    left: 80vw;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 79vh;
    overflow-y: scroll;
    padding: 1rem;
}
.infoblock
{
    background-color: #ceffce;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
}
.line_badge
{
    display: inline-block;
    width: 1rem;
    height: 0.2rem;
    border-width: 4px 0px 4px;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: #808080;
    box-shadow: #000000 0px 0px 2px 2px;
    background-color: #000000;
    margin-right: 0.5rem;
}
.treetoggle
{
    display:none;
}
.treetoggle:checked ~ ul
{
    display:none;
}
#object_tree
{
    list-style-position: inside; 
    padding-left: 2em;
}
#object_tree ul
{
    padding-left: 1em;
}
#object_tree span.selected
{
    border: 1px solid red;
    font-weight: bold;
}
#object_tree span:hover, #object_tree span.highlighted
{
    border: 1px solid red;
}
#object_tree span
{
    width: calc(100% - 2.5rem);
    border: 1px solid transparent;
    display: inline-block;
}
span.item_title[data-itemtype="location"]::before
{
    content: "🏢\00FE0F";
}
span.item_title[data-itemtype="rack"]::before
{
    content: "🗄\00FE0F";
}
span.item_title[data-itemtype="frame"]::before
{
    content: "🖥️\00FE0F";
}
span.item_title[data-itemtype="socket"]::before
{
    content: "🔌\00FE0F";
}
span.item_title[data-itemtype="line"]::before
{
    content: "🚇\00FE0F";
}
span.item_title[data-itemtype="patch"]::before
{
    content: "🔗\00FE0F";
}
span.item_title[data-itemtype="map"]::before
{
    content: "🏙\00FE0F";
}
span.item_title[data-itemtype="linemap"]::before
{
    content: "🗺\00FE0F";
}