
*, *::before, *::after {
    box-sizing: border-box;
  }
  html
  {
    overflow: hidden;
  }
body,html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0;
    margin:0;
}
#main
{
    width: 100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
}
.vresize
{
    width: 100%;
    height: 4px;
    border: none;
    background: #CECECE;
    cursor: row-resize;
}
.hresize
{
    width: 4px;
    height: 100%;
    border: none;
    background: #CECECE;
    cursor: col-resize;
    display: inline-block;
}

#leftpane
{
    width:79%;
    display: inline-block;
    vertical-align: top;
    height:100%;
    top:0;
    position:relative;
    min-width:20%;
}
#toolbar_tools
{
    padding: 3px;
}
#toolbar_tools button
{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0.5rem;
    padding-top: 0px;
    padding-bottom: 2px;
    line-height: 5%;
    background: #FFFFFF;
    border-radius: 0;
    border: 3px solid black;   
}

#toolbar_tools button:hover, #toolbar_tools button:active
{
    background: #E0D0FF;
    border-color: #200040;
}
#toolbar_tools button:disabled
{
    background: #D0D0D0;
    border-color: #7F7F7F;
    color: #7F7F7F;
}
#toolbar_tools button.current_mode
{
    background: #E0D0FF;
    border: 6px solid #200040;
}
.displayer
{
    position:relative;
    z-index: 3;
    height:calc(100% - 4rem - 3px);
    overflow:scroll;
}
#rightpane
{
    width:19%;
    min-width:20%;
    display: inline-block;
    height:98%;
    top:0%;
    position:absolute;
    right: 1px;
    vertical-align: top;
}
#object_info
{
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 25%;
    overflow-y: scroll;
    padding: 1rem;
}
#object_tree
{
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 75%;
    overflow-y: scroll;
    padding: 1rem;
    margin:0;
}

#controls 
{
    width: 100%;
    height:100%;
    position: relative;
    left:0;
    top:0;
    margin:0;
    padding:0;
    z-index: 3;
}

#aaa, #ccc, #ddd
{
    box-sizing: border-box;
    width: 30%;
    display: inline-block;
    height: 100%;
}

.infoblock
{
    background-color: #ceffce;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 2px;
}
.line_badge
{
    display: inline-block;
    width: 1rem;
    height: 0.2rem;
    border-width: 4px 0px 4px;
    border-top-style:solid;
    border-bottom-style: solid;
    border-color: #808080;
    box-shadow: #000000 0px 0px 0px 2px;
    background-color: #000000;
    margin-left: 4px;
    margin-right:4px;
}
.treetoggle
{
    display:none;
}
.treetoggle:checked ~ ul
{
    display:none;
}
#object_tree
{
    list-style-position: inside; 
    padding-left: 2em;
    user-select: none;
}
#object_tree ul
{
    padding-left: 1em;
}
#object_tree span.selected
{
    border: 1px solid red;
    font-weight: bold;
}
#object_tree span:hover, #object_tree span.highlighted
{
    border: 1px solid red;
}
#object_tree span
{
    width: calc(100% - 2.5rem);
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid transparent;
    display: inline-block;
    height: 22px;
}

#object_tree span.tool_buttons
{
    position: relative;
    width: auto;
    float: right;
    visibility: hidden;
}
#object_tree span:hover span.tool_buttons 
{
    cursor: pointer;
    visibility: visible;
}


#object_tree li[data-itemtype="location"]
{
    list-style-type:"╠🏢\00FE0F";
}
#object_tree li[data-itemtype="location"]:last-child
{
    list-style-type:"╚🏢\00FE0F";
}
#object_tree li[data-itemtype="rack"]
{
    list-style-type:"╠🗄\00FE0F";
}
#object_tree li[data-itemtype="rack"]:last-child
{
    list-style-type:"╚🗄\00FE0F";
}
#object_tree li[data-itemtype="frame"], #object_tree li[data-itemtype="frame_tpl"]
{
    list-style-type:"╠🚌\00FE0F";
}
#object_tree li[data-itemtype="frame"]:last-child, #object_tree li[data-itemtype="frame_tpl"]:last-child
{
    list-style-type:"╚🚌\00FE0F";
}
#object_tree li[data-itemsubtype="network"]
{
    list-style-type:"╠🔀\00FE0F";
}
#object_tree li[data-itemsubtype="network"]:last-child
{
    list-style-type:"╚🔀\00FE0F";
}
#object_tree li[data-itemsubtype="firewall"]
{
    list-style-type:"╠🧱\00FE0F";
}
#object_tree li[data-itemsubtype="firewall"]:last-child
{
    list-style-type:"╚🧱\00FE0F";
}
#object_tree li[data-itemsubtype="cloud"]
{
    list-style-type:"╠☁️\00FE0F";
}
#object_tree li[data-itemsubtype="cloud"]:last-child
{
    list-style-type:"╚☁️\00FE0F";
}
#object_tree li[data-itemsubtype="server"]
{
    list-style-type:"╠🖥️\00FE0F";
}
#object_tree li[data-itemsubtype="server"]:last-child
{
    list-style-type:"╚🖥️\00FE0F";
}
#object_tree li[data-itemtype="socket"], #object_tree li[data-itemtype="socket_tpl"], #object_tree li[data-itemtype="connector"]
{
    list-style-type:"╠🔌\00FE0F";
}
#object_tree li[data-itemtype="socket"]:last-child, #object_tree li[data-itemtype="socket_tpl"]:last-child, #object_tree li[data-itemtype="connector"]:last-child
{
    list-style-type:"╚🔌\00FE0F";
}
#object_tree li[data-itemtype="socket_bank"]
{
    list-style-type:"╠🧮\00FE0F";
}
#object_tree li[data-itemtype="socket_bank"]:last-child
{
    list-style-type:"╚🧮\00FE0F";
}
#object_tree li[data-itemtype="bank"]
{
    list-style-type:"╠🧮\00FE0F";
}
#object_tree li[data-itemtype="bank"]:last-child
{
    list-style-type:"╚🧮\00FE0F";
}
#object_tree li[data-itemtype="line"]
{
    list-style-type:"╠🚇\00FE0F";
}
#object_tree li[data-itemtype="line"]:last-child
{
    list-style-type:"╚🚇\00FE0F";
}
#object_tree li[data-itemsubtype="linkgroup"]
{
    list-style-type:"╠⛓️\00FE0F";
}
#object_tree li[data-itemsubtype="linkgroup"]:last-child
{
    list-style-type:"╚⛓️\00FE0F";
}
#object_tree li[data-itemtype="patch"]
{
    list-style-type:"╠🔗\00FE0F";
}
#object_tree li[data-itemtype="patch"]:last-child
{
    list-style-type:"╚🔗\00FE0F";
}
#object_tree li[data-itemtype="map"]
{
    list-style-type:"╠🏙\00FE0F";
}
#object_tree li[data-itemtype="map"]:last-child
{
    list-style-type:"╚🏙\00FE0F";
}
#object_tree li[data-itemtype="linemap"]
{
    list-style-type:"╠🗺\00FE0F";
}
#object_tree li[data-itemtype="linemap"]:last-child
{
    list-style-type:"╚🗺\00FE0F";
}
#object_tree li[data-itemtype="inventory"]
{
    list-style-type:"╠🧰\00FE0F";
}
#object_tree li[data-itemtype="inventory"]:last-child
{
    list-style-type:"╚🧰\00FE0F";
}



span.tree_item_hidden
{
    color: #a5a5a5;
}

input.item_title
{
    background-color: #EEFFEE;
    border: 1px solid black;
}
input.item_title:focus
{
    outline: none;
    border: 1px solid black;
}
input.item_title[readonly]
{
    font-weight: bold;
    border: 1px solid transparent;
    background: transparent;
}

span.item_badge[data-itemtype="location"]::before
{
    content: "🏢\00FE0F";
}
span.item_badge[data-itemtype="rack"]::before
{
    content: "🗄\00FE0F";
}
span.item_badge[data-itemtype="frame"]::before
{
    content: "🖥️\00FE0F";
}
span.item_badge[data-itemtype="socket"]::before
{
    content: "🔌\00FE0F";
}
span.item_badge[data-itemtype="line"]::before
{
    content: "🚇\00FE0F";
}
span.item_badge[data-itemtype="patch"]::before
{
    content: "🔗\00FE0F";
}
span.item_badge[data-itemtype="map"]::before
{
    content: "🏙\00FE0F";
}
span.item_badge[data-itemtype="linemap"]::before
{
    content: "🗺\00FE0F";
}

.framelistcontainer
{
    height: 20rem;
    overflow-y: scroll;
    position:relative;
}
.framelistcontainer ul
{
    list-style-type: none;
}
.framelistcontainer span
{
    display: inline-block;
}

.framelistcontainer input:checked + label
{
    border: 1px solid red;
}